<clr-main-container>
    <clr-header *ngIf="!isWelcomeScreen()">
        <div class="branding">
            <a href="/welcome" class="nav-link"> LOGO
            </a>
        </div>
        <div *ngIf="!isWelcomeScreen()" class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="getModelUrl('summary')" routerLinkActive="active">
                <span class="nav-text">Summary</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="getModelUrl('tasks')" routerLinkActive="active">
                <span class="nav-text">My Tasks</span>
            </a>
        </div>
        <div *ngIf="!isWelcomeScreen()" class="header-actions">
            <div class="level">
                <span>{{getUserId()}}</span>
                <clr-icon size="25" style="margin-bottom:4px" shape="cog"></clr-icon>
            </div>
        </div>
    </clr-header>
    <clr-header *ngIf="isWelcomeScreen()">
        <div class="branding branding-joining">
            <a href="/welcome" class="nav-link">
                LOGO
            </a>
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
