.promo-container {
    margin: 1em;
}

h2 {
    margin-top: 0.1em;
}

.card-button {
    border-radius: 100px;
}

.btn-link {
    float: right !important;
}

.card-text span {
    width: 5em !important;
}

label {
    width: 5em !important;
}

.card-text {
    padding-bottom: 1em;
}

.alert {
    margin-top: 1em;
}
