.promo-icon {
    height: 17em;
    width: 15em;
}
.promo-container {
    width: 15em;
    margin: 1em;
}

.join-form {
    margin-top: 5em;
}

#customerId {
    width: 100%;
}

.form-block {
    margin-top: 7em;
}

label.tooltip {
    width: 100%;
}

h2 {
    margin-top: 0.1em;
}
